<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Edit post</title>
        <script type="module" src="https://unpkg.com/@fluentui/web-components"></script>
    </head>
    <body style="text-align: center; margin-left: 600px; margin-right: 600px">
        <form id="update-form" action="/api/post/<%= data.PostId %>" method="post">
            <h1 for="title">제목</h1>
            <fluent-divider></fluent-divider>
            <fluent-text-field
                appearance="outline"
                type="text"
                id="title"
                name="title"
                value="<%= data.title %>"
                required
            ></fluent-text-field>
            <h1 for="content">내용</h1>
            <fluent-divider></fluent-divider>
            <fluent-text-area
                id="content"
                name="content"
                value="<%= data.content %>"
                required
            ></fluent-text-area>
            <div style="display: flex; justify-content: center">
                <div>
                    <fluent-button
                        appearance="accent"
                        type="button"
                        onclick="location.href='/api/post/detail/<%= data.PostId %>'"
                    >
                        목록
                    </fluent-button>
                </div>
                <div colspan="2">
                    <fluent-button appearance="accent" type="submit">수정</fluent-button>
                </div>
            </div>
        </form>
        <script>
            document.getElementById('update-form').addEventListener('submit', (event) => {
                event.preventDefault();

                const formData = new FormData(event.target);
                const title = formData.get('title');
                const content = formData.get('content');

                fetch('http://localhost:8080/api/post/<%= data.PostId %>', {
                    method: 'put',
                    body: JSON.stringify({ title, content }),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }).then((res) => {
                    if (res.status === 201) {
                        alert('수정되었습니다.');
                        window.location.href = '/api/post';
                    }
                });
            });
        </script>
    </body>
</html>
