<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Post</title>
    </head>
    <body>
        <h1><%= data.title %></h1>
        <h1><%= data.content %></h1>
        <h2><%= data.createdAt %></h2>
        <div>
            <button type="button" onclick="location.href='/api/post'">목록</button>
            <button id="update-post-button">수정</button>
            <form action="/api/post/<%= data.PostId %>" method="post">
                <button type="button" onclick="deletePost()">삭제</button>
            </form>
        </div>
        <script>
            document.getElementById('update-post-button').addEventListener('click', function () {
                window.location.href = '/api/post/edit/<%= data.PostId %>';
            });
            function deletePost() {
                fetch('http://localhost:8080/api/post/<%= data.PostId %>', {
                    method: 'delete'
                }).then((res) => {
                    alert('삭제되었습니다.');
                    window.location.href = '/api/post';
                });
            }
        </script>
    </body>
</html>
